[submodule "backend"]
	path = backend
	url = https://github.com/MartisCoding/vino-back.git
[submodule "inference"]
	path = inference
	url = https://github.com/HungryM1NT/SvoeVino
[submodule "ocr_inference"]
	path = ocr_inference
	url = https://github.com/VovaGal/wine.git
